*#
.idea
*.iml
*.ipr
*.iws

.gradle
.gradletasknamecache
*.jar
*.sw?
*~

.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath

.metadata
.project
.recommenders
.settings
.springBeans
.vscode

/code
MANIFEST.MF
_site/
activemq-data

bin/
build/
build.log
!/**/src/**/bin
!/**/src/**/build

dependency-reduced-pom.xml
dump.rdb
interpolated*.xml

lib/
target/
out/
manifest.yml

overridedb.*

.flattened-pom.xml
secrets.yml

.sts4-cache